form {

    width: 300px;

    margin: 100px auto;

    padding: 20px;

    text-align: center;

}

input {

    width: 100%;

    padding: 10px;

    margin: 10px 0;
    /* ЁЯФ┤ ржирж┐ржЪрзЗ ржирж┐ржЪрзЗ ржЖрж╕рж╛рж░ ржорзВрж▓ ржХрж╛рж░ржг */

    display: block;
    /* ЁЯФ┤ same row рж╕ржорж╕рзНржпрж╛ fix */

}

button {

    width: 100%;

    padding: 10px;

    margin-top: 10px;

}

p {

    margin-top: 15px;

}